.arrow {
    position: absolute;
    top: 50%;
}
.arrow.left{
    left: 10%;
}
.arrow.right{
    right: 10%;
}

.arrow {
    border-radius: 50%;
    background-color: #293f94;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.arrow:hover {
    background-color: #ffffff;
}

.arrow.left::before {
    content:"";
    position: absolute;
    top:50%;
    left:50%;
    width:40%;
    height:40%;
    border:2px solid white;
    border-width: 1px 1px 0 0;
    transform:translate(-40%, -50%) rotate(-135deg);
}
.arrow.left:hover:before {
    border:2px solid black;
    border-width: 1px 1px 0 0;
}

.arrow.right::before {
    content:"";
    position: absolute;
    top:50%;
    right :20%;
    width:40%;
    height:40%;
    border:2px solid white;
    border-width: 1px 1px 0 0;
    transform:translate(-40%, -50%) rotate(45deg);
}

.arrow.right:hover:before {
    border: 2px solid black;
    border-width: 1px 1px 0 0;
}

.arrow-staff {
    top: 35%;
    border: 2px solid #ededed;
    background-color: #e4e4e4;
}

.arrow-staff:hover {
    border: 2px solid #1555a5;
}
.arrow-staff:hover:before {
    border-color: #1555a5 !important;
}

.arrow-staff.left {
    left: 5%;
}
.arrow-staff.right {
    right: 5%;
}