.hero {
    background-image: url('../img/hero_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 74px 0 74px 0;
    position: relative;
}

.hero__info {
    width: 50%;
}

.hero__title {
    font-weight: 400;
    font-size: 60px;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 35px;
}

.hero__text {
    font-size: 18px;
    color: #c5e8ff;
    width: 80%;
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero__price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 44px;
}

.hero__price-value {
    font-size: 43px;
    color: #ffffff;
    margin-right: 10px;
}

.hero__price-description {
    font-size: 30px;
    color: #ffffff;
    margin-right: 10px;
}

.hero__price-decorative {
    border-radius: 18px 12px 12px 0;
    background-color: #bb0367;
    padding: 6px 15px;
    color: #ffffff;
}

